/* -----------------------------------------------------------------------------

  Objects - Header

----------------------------------------------------------------------------- */

.Header {
  margin: 0;
  padding: 1.2rem;
  background-color: $color-theme-2;
}

.Header-title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: map-get($font-size, md);
  font-weight: 300;
  text-align: center;
}

.Header-link {
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: map-get($font-size, lg);
}

.Header-icon {
  display: block;
  margin: 0;
  padding: 0;
}
