<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} - A responsive, declarative grid system powered by flexbox.</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://axiomzen.co/img/icons/az-icon-iphone.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://axiomzen.co/img/icons/az-icon-iphone-@2x.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://axiomzen.co/img/icons/az-icon-ipad.png">
  <link rel="shortcut icon" href="https://axiomzen.co/img/icons/favicon.ico">
  <meta property="og:title" content="flexgrid.css">
  <meta property="og:url" content="http://flexgrid.axiomzen.co">
  <meta property="og:image" content="http://flexgrid.axiomzen.co/img/flexgrid-feat.png">
</head>
