// -----------------------------------------------------------------------------
//
//      Fonts
//
// -----------------------------------------------------------------------------

$font-primary: Montserrat, Helvetica, sans-serif;

$font-size: (
  xs: 1.0rem,
  sm: 1.2rem,
  md: 1.6rem,
  lg: 2.1rem,
  xl: 2.8rem,
  xx: 4.2rem
);

$line-height: (
  sm: 1.2,
  md: 1.6,
  lg: 2.2
);

// -----------------------------------------------------------------------------
//
//      Colours
//
// -----------------------------------------------------------------------------

$color-neutral-1: #111;
$color-neutral-2: #333;
$color-neutral-3: #555;
$color-neutral-4: #777;
$color-neutral-5: #999;
$color-neutral-6: #aaa;
$color-neutral-7: #ccc;
$color-neutral-8: #eee;

$color-brand-1: #ff9d00;
$color-brand-2: darken($color-brand-1, 15%);
$color-brand-3: darken($color-brand-1, 30%);

// -----------------------------------------------------------------------------
//
//      Breakpoints
//
// -----------------------------------------------------------------------------

$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 640px,
  lg: 760px,
  xl: 1020px,
  xx: 1200px
);
