/* -----------------------------------------------------------------------------

  Elements - Text

----------------------------------------------------------------------------- */

a {
  color: $color-brand-1;
  text-decoration: none;
}

a:hover {
  color: $color-brand-3;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}
