/* -----------------------------------------------------------------------------

  Objects - Container

----------------------------------------------------------------------------- */

.Container {
  margin: 0 auto;
  padding: 0 2.4rem;

  @include break(sm) {
    padding: 0 4.8rem;
  }

  @include break(md) {
    padding: 0 7.2rem;
  }
}

.Container--narrow {
  max-width: 72rem;
}

.Container--wide {
  max-width: 102rem;
}

.Container--full {
  max-width: 100%;
}

.Container--center {
  text-align: center;
}
