/* -----------------------------------------------------------------------------

  Objects - Nav

----------------------------------------------------------------------------- */

.Nav {
  display: flex;
  justify-content: space-between;
  background-color: $color-theme-2;
}

.Nav-link {
  padding: 1.2rem;
  color: #fff;
}

.Nav-link:hover {
  color: #fff;
  background-color: $color-theme-1;
}
